{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div style="text-align: center;">
        <h2 style="color: blue;">Login page</h2>

    
        <div>
            <label style="text-align:left"  for="username">User name:</label>
            <br>
            <input type="text" id="username" name="username" placeholder="user name">
        </div>
        <br>
        
        <div>
            <label style="text-align:left" for="password">Password:</label>
            <br>
            <input type="password" id="password" name="password" placeholder="password">
        </div>   
        <br>
        <div>
            <a href="">
            <button type="submit">Login</button>
            </a>

        </div>
    </div>       
        
    
</body>

</html>
